Source: stacktach
Section: admin
Priority: extra
Maintainer: Vladimir Eremin <yottatsa@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0), python-all-dev, python-setuptools, python-pip
Standards-Version: 3.9.2

Package: stacktach
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends},
	python-mysqldb,
	python-support (>= 0.90.0),
	python-django (>= 1.4.2),
	python-django-south (>= 0.8),
	python-kombu,
	python-amqp,
	python-anyjson,
	python-coverage,
	python-librabbitmq,
	python-mox,
	python-django-nose,
	python-nose,
	python-nose-exclude,
	python-pympler
Suggests: nginx, uwsgi, uwsgi-plugin-python
Description: OpenStack Tachometer
