Source: stacktach
Section: admin
Priority: extra
Maintainer: Vladimir Eremin <yottatsa@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.9.2

Package: stacktach
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends},
	python-mysqldb,
	python-django (>= 1.4.2), python-django-south, python-kombu
Description: OpenStack Tachometer
