#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport
DEB_PYTHON_INSTALL_ARGS_ALL += --install-layout=deb
DEB_PYTHON_DESTDIR = $(CURDIR)/debian/stacktach

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

install/stacktach::
	rm -f $(CURDIR)/debian/stacktach/usr/share/stacktach/local_settings.py
	mkdir -p $(CURDIR)/debian/stacktach/usr/share/stacktach/stacktach
	ln -s /etc/stacktach/local_settings.py $(CURDIR)/debian/stacktach/usr/share/stacktach/local_settings.py
	rm -f $(CURDIR)/debian/stacktach/etc/init.d/stacktach-worker
	mkdir -p $(CURDIR)/debian/stacktach/etc/init.d
	ln -s /usr/share/stacktach/worker/stacktach.sh $(CURDIR)/debian/stacktach/etc/init.d/stacktach-worker
