<table style='font-size:1em;'>
<tr>
    <th class='title'></th>
    <th class='title'>deployment</th>
    <th class='title'>source</th>
    <th class='title'>tenant</th>
    <th class='title'>service</th>
    <th class='title'>host</th>
    <th class='title'>event</th>
    <th class='title'>instance</th>
    <th class='title'>when</th>
</tr>
{% if not rows %}
<tr><td>No results</td></tr>
{% endif %}
{% for row in rows %}
<tr {% if row.highlight %}style='background-color:#FFD88F;'{% endif %} >
    <td>
    {% if allow_expansion %}
    <a href='#' onclick='expand({{deployment_id}}, {{row.id}});'>[+]</a>
    {% endif %}
    </td>

    <td>
        <a href='/{{row.deployment.id}}'>{{row.deployment.name}}</a>
    </td>

    <td class='cell-border'>
      <span style='{% if row.is_error %}background-color:#ffaaaa;{% endif %}'>
      <a href='#' 
         onclick='details({{deployment_id}}, "routing_key", {{row.id}});'>
         {{row.routing_key}}</a>
      </span>
    </td>

    <td class='cell-border'>
      <a href='#' onclick='details({{deployment_id}}, "tenant", {{row.id}});'>
      {% if row.tenant %}{{row.tenant}}{% endif %}</a>
    </td>

    <td class='cell-border'>
        <a href='#' 
            onclick='details({{deployment_id}}, "service", {{row.id}});'>
            {{row.service}}</a>
    </td>

    <td class='cell-border'>
        <a href='#' onclick='details({{deployment_id}}, "host", {{row.id}});'>
        {{row.host}}</a>
    </td>

    <td class='cell-border'>
        <b>
        <a href='#' onclick='details({{deployment_id}}, "event", {{row.id}});'>
        {{row.event}}</a></b>
    </td>

    <td class='cell-border'>
        {% if row.instance %}
        <a href='#' 
            onclick='details({{deployment_id}}, "instance", {{row.id}});'>
            {{row.instance}}</a>
        {% endif %}
    </td>

    <td class='cell-border'>
        <a href='#' onclick='details({{deployment_id}}, "when", {{row.id}});'>
        {% if show_absolute_time %}{{row.fwhen}}
        {%else%}{{row.fwhen|timesince:utc}} ago{%endif%}</a>
    </td>
</tr>
{% if allow_expansion %}
<tr>
  <td colspan=8>
    <div id='row_expansion_{{row.id}}' style='font-size:1.2em'></div>
  </td>
</tr>
{% endif %}
{% endfor %}
</table>
