{% extends "base.html" %}

{% block body %}
    <div class='status-title'>About</div>
    <div id='host-box' class='status'>
        <div id='host_activity' class='status-inner'>
        StackTach is a hosted debug/monitoring tool for OpenStack Nova
        deployments.
        </div>
    </div>

    <div class='status-title'>Connecting StackTach to OpenStack</div>
    <div id='instance-box' class='status'>
        <div id='instance_activity' class='status-inner'>
            <ul>
            <li>Get a <a href='/new_tenant'>StackTach Tenant ID</a>
            <li>Add <pre>--notification_driver=nova.notifier.rabbit_notifier</pre> and 
            <li><pre>--notification_topics=notifications,monitor</pre> to your nova.conf file.
            <li>Configure and run the <a target='_blank' href='https://github.com/Rackspace/StackTach'>StackTach Worker</a> somewhere in your Nova development environment. 
            <li>Restart Nova and visit http://[your server]/[your_tenant_id]/ to see your Nova installation in action!
            </ul>
        </div>
    </div>
{% endblock %}       
